<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.wechat.admin.mapper.PersonnelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cl.wechat.admin.entity.Personnel">
    <result column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="tag" property="tag" />
        <result column="adept" property="adept" />
        <result column="profile" property="profile" />
        <result column="details" property="details" />
        <result column="appinmentNum" property="appinmentNum" />
        <result column="synopsis1" property="synopsis1" />
        <result column="synopsis2" property="synopsis2" />
        <result column="synopsis3" property="synopsis3" />
    </resultMap>

</mapper>
