<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.wechat.admin.mapper.WeiUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cl.wechat.admin.entity.WeiUser">
    <result column="id" property="id" />
        <result column="openid" property="openid" />
        <result column="sex" property="sex" />
        <result column="city" property="city" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="headimgurl" property="headimgurl" />
        <result column="subcribe" property="subcribe" />
        <result column="language" property="language" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
